/* dashboard.css */

.dashboard-container {
  background-image: url('/src/img/pending-items-background-img.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  max-height:none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100%;
}

.dashboard-content {
  background-color: rgba(255, 255, 255, 0.753);
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  max-width: fit-content;
  max-height: 100%;
  
}

.display-4 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.lead {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap; /* Allow buttons to wrap to the next line on smaller screens */
  justify-content: space-between;
}

.btn {
  font-size: 1rem;
  width: fit-content;
  height: 50px;
}

.content-container {
  margin-top: 20px;
  max-width: fit-content;
  
}

@media (max-width: 768px) {
  .display-4 {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }

  .lead {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }

  .buttons {
    flex-direction: column; /* Stack buttons on top of each other */
    align-items: center; /* Center-align buttons */
  }
}
